@font-face {
  font-family: "JetBrainsMono";
  src: url("../assets/fonts/JetBrainsMono-VariableFont_wght.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "JetBrainsMonoItalic";
  src: url("../assets/fonts/JetBrainsMono-Italic-VariableFont_wght.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@import "tailwindcss";

@theme {
  --color-white: #ffffff;
  --color-black: #000000;
  --color-grey-950: #08070b;
  --color-grey-900: #14131b;
  --color-grey-850: #18171f;
  --color-grey-800: #24232c;
  --color-grey-700: #54535b;
  --color-grey-600: #817d92;
  --color-grey-200: #e6e5ea;
  --color-green-200: #a4ffaf;
  --color-yellow-300: #f8cd65;
  --color-orange-400: #fb7c58;
  --color-red-500: #f64a4a;

  --font-jet-brains-mono: "JetBrainsMono", monospace;
  --font-jet-brains-mono-it: "JetBrainsMonoItalic", monospace;

  --text-heading: clamp(1rem, calc(8.5px + 2vw), 1.5rem);
  --text-heading--line-height: clamp(1.25rem, calc(8.75px + 3vw), 2rem);
  --text-heading--letter-spacing: 0;

  --text-md: clamp(1rem, calc(14px + 0.5vw), 1.125rem);
  --text-md--line-height: clamp(1.25rem, calc(12.25px + 1vw), 1.5rem);
  --text-md--letter-spacing: 0;

  --text-lg: clamp(1.125rem, calc(12.375px + 1.5vw), 1.5rem);
  --text-lg--line-height: clamp(1.5rem, calc(17.5px + 2vw), 2rem);
  --text-lg--letter-spacing: 0;

  --text-xl: clamp(1.5rem, calc(17.5px + 2vw), 2rem);
  --text-xl--line-height: clamp(2rem, calc(22.5px + 2.5vw), 2.625rem);
  --text-xl--letter-spacing: 0;
}

input[type=range] {
  appearance: none;
  -webkit-appearance: none;
  margin: 10px 0;
  width: 100%;
  cursor: pointer;
  outline: none;

  height: 8px;
  background: #18171f;
}

input[type=range]::-webkit-slider-thumb {
  border: 2px solid white;
  height: 28px;
  width: 28px;
  border-radius: 50%;
  background: white;
  -webkit-appearance: none;
}

input[type=range]::-webkit-slider-thumb:hover {
  border-color: #a4ffaf; 
  background: #18171f;
}

input[type=range]::-moz-range-thumb {
  border: 2px solid white;
  height: 28px;
  width: 28px;
  border-radius: 50%;
}

input[type=range]::-moz-range-thumb:hover {
  border-color: #A4FFAF;
  background: #18171f;
}