<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0"> <!-- displays site properly based on user's device -->

  <link rel="icon" type="image/png" sizes="32x32" href="../../assets/favicon-32x32.png">
  <link rel="stylesheet" href="../../styles/global.css">
  <link rel="stylesheet" href="./styles/social-links-profile-global.css">

  <script src="./src/button.js"></script>
  <script src="./src/socialLinksProfile.js"></script>

  <title>Code by Marco | Frontend Mentor Chaalenge | Social links profile</title>
</head>
<body>

  <main>
    <cbm-social-links-profile
      name="Jessica Randall"
      subtitle="London, United Kingdom"
      bio='"Front-end developer and avid reader."'
      src="./assets/images/avatar-jessica.jpeg"
      alt="A picture of Jessica Randall"
    >
      <cbm-link-button href="https://www.github.com">GitHub</cbm-link-button>
      <cbm-link-button href="https://www.frontendmentor.io">Frontend Mentor</cbm-link-button>
      <cbm-link-button href="https://www.linkedin.com">LinkedIn</cbm-link-button>
      <cbm-link-button href="https://www.x.com">Twitter</cbm-link-button>
      <cbm-link-button href="https://www.instagram.com">Instagram</cbm-link-button>
    </cbm-social-links-profile>
  </main>

  <footer>
    <div class="attribution">
      Challenge by <a href="https://www.frontendmentor.io?ref=challenge" target="_blank">Frontend Mentor</a>. 
      Coded by <a href="#">Marco Zulian</a>.
    </div>
  </footer>
</body>
</html>