<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="icon" type="image/png" sizes="32x32" href="../../assets/favicon-32x32.png">
  <link rel="stylesheet" href="./styles/global.css">
  
  <title>Frontend Mentor | Meet landing page</title>
</head>
<body>
  <header>
    <nav class="navigation-header">
      <a href="./index.html">
        <img src="./assets/logo.svg" alt="Meet logo"></img>
      </a>
    </nav>

    <div class="hero-section">
      <img class="hero-section__image" src="./assets/tablet/image-hero.png"></img>
      <img class="hero-section__image--left" src="./assets/desktop/image-hero-left.png"></img>

      <div class="hero-section__content">
        <h1 class="type-preset-1 font-color-slate-900">Group Chat for Everyone</h1>
        <p class="type-preset-4 font-color-slate-600">Meet makes it easy to connect with others face-to-face virtually and collaborate across any device.</p>
        <div class="hero-section__buttons">
          <button class="custom-button bg-color-cyan-600 bg-color-hover-cyan-400">
            <p class="type-preset-5 font-color-white">Download <span class="font-color-cyan-300">v1.3</span></p>
          </button>
          <button class="custom-button bg-color-purple-600 bg-color-hover-purple-400">
            <p class="type-preset-5 font-color-white">What is it?</p>
          </button>
        </div>
      </div>

      <img class="hero-section__image--right" src="./assets/desktop/image-hero-right.png"></img>
    </div>
  </header>

  <main>
    <div class="section-counter">
      <div class="section-counter__marker" aria-hidden="true"></div>
      <p class="type-preset-5 font-color-slate-600 section-counter__value">01</p>
    </div>
    <div class="main-section__images">
      <img src="./assets/desktop/image-woman-in-videocall.jpg" alt="image of an elder woman in a video chat">
      <img src="./assets/desktop/image-women-videochatting.jpg" alt="image of three images sitting in a couch talking to someone else in a videocall">
      <img src="./assets/desktop/image-men-in-meeting.jpg" alt="image of a man sitted in front of his computer in a virtual meeting">
      <img src="./assets/desktop/image-man-texting.jpg" alt="image of a man smilling to his phone while texting">
    </div>
    <div class="main-section__texts">
      <div class="main-section__texts--header">
        <p class="type-preset-3 font-color-cyan-600">BUILT FOR MODERN USE</p>
        <h2 class="type-preset-2 font-color-slate-900">Smarter meetings, all in one place</h2>
      </div>
      <p class="type-preset-4 font-color-slate-600">Send messages, share files, show your screen, and record your meetings — all in one 
    workspace. Control who can join with invite-only team access, data encryption, and data export.</p>
    </div>
  </main>

  <div class="section-counter footer__section-counter">
    <div class="section-counter__marker" aria-hidden="true"></div>
    <p class="type-preset-5 font-color-slate-600 section-counter__value">02</p>
  </div>

  <footer>
    <picture>
      <source srcset="./assets/desktop/image-footer.jpg" media="(min-width: 1440px)">
      <source srcset="./assets/tablet/image-footer.jpg" media="(min-width: 768px)">
      <img class="footer__background-image" src="./assets/mobile/image-footer.jpg" alt="">
    </picture>
    <div class="footer-content">
      <h2 class="type-preset-2 font-color-white footer__section-content">Experience more together</h2>
      <p class="type-preset-4 font-color-white footer__section-content">Stay connected with reliable HD meetings and unlimited one-on-one and group video sessions.</p>
      <button class="custom-button footer__section-content bg-color-purple-600 bg-color-hover-purple-400">
        <p class="font-color-white type-preset-5">Download <span class="font-color-purple-300">v1.3</span></p>
      </button>
    </div>
  </footer>
</body>
</html>